<%= form_for @reply, html: { class: 'new_reply' } do |r| %>

  <%= r.hidden_field :ticket_id %>
  <h5 class="mt">Reply</h5>
  <div class="tabs-content panel">
    <div class="content active full" id="edit">
      <div class="row collapse">

        <%= r.text_area :message, label: false, placeholder: 'Write an answer or comment' %>

      </div>
    </div>
  </div>
  <p>
    <%= r.submit value: 'Send reply', class: 'button regular radius' %>
  </p>
<% end %>

