<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>Admin</title>
  <link rel="stylesheet" href="/assets/app/css/app.css"/>
</head>
<body>

  <div ng-view></div>

  <script src="/assets/app/lib/angular/angular.js"></script>
  <script src="/assets/app/js/app.js"></script>
  <script src="/assets/app/js/services.js"></script>
  <script src="/assets/app/js/controllers.js"></script>
  <script src="/assets/app/js/filters.js"></script>
  <script src="/assets/app/js/directives.js"></script>
</body>
</html>
