
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
      
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>PiaChatto</title>

    <link href="/assets/favicon.png" rel="shortcut icon" type="image/vnd.microsoft.icon" />

    <link href="/assets/application.css?body=1" media="screen" rel="stylesheet" />
<link href="/assets/foundation_and_overrides.css?body=1" media="screen" rel="stylesheet" />
<link href="/assets/glyphicons.css?body=1" media="screen" rel="stylesheet" />
<link href="/assets/halflings.css?body=1" media="screen" rel="stylesheet" />
    <meta content="authenticity_token" name="csrf-param" />
<meta content="QReXRhgrchPmeVLdoPVHjjmcjiaPrWA/mMF6mSar8eE=" name="csrf-token" />
  </head>

  <body>

    <div class="contain-to-grid">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1>
              <a href="/">
                <img alt="Favicon" class="brand" src="/assets/favicon.png" />
                PiaChatto
              </a>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon">
            <a href="">
              <span>Menu</span>
            </a>
          </li>
        </ul>

        <section class="top-bar-section">
          

            <ul class="right">
              <li class="has-dropdown active">
                <a href="#">spencer@gmail.com</a>
                <ul class="dropdown">
                  <li>
                    <a href="/users/7/edit">Settings</a>
                  </li>
                  <li>
                    <a data-method="delete" href="/users/sign_out" rel="nofollow">Sign out</a>
                  </li>
                </ul>
              </li>
            </ul>


        </section>

      </nav>
    </div>

    <div class="contain-to-grid secondary-nav">
      <nav class="top-bar" data-topbar>
        <section class="top-bar-section">
          <!-- <ul class="left">
              <li class="has-form">
                <form accept-charset="UTF-8" action="/tickets" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
                  <input id="q" name="q" placeholder="Search questions" type="text" />
</form>              </li>
          </ul>  -->
          <ul class="right">
            <li>
              <a href="/tickets?status_id=1">Incoming</a>
            </li>
            <li>
              <a href="/tickets?status_id=2">Open</a>
            </li>
            <!-- <li>
              <a href="/tickets?status_id=5">Flagged</a>
            </li> -->
            <li><a href="/tickets?status_id=2">Conversations</a></li>
            <li>
              <a href="/tickets?status_id=3">Archives</a>
            </li>
            <li><a>Best</a></li>
            <li class="active"><a href="/resources">Resources</a></li>
          </ul>
        </section>
      </nav>
    </div>

    <div class="row">

    <div class="questions">

        <h1 class="page-header">Resources</h1>


        <h2>From Planned Parenthood</h2>
<br/>
<a href="http://www.plannedparenthood.org/info-for-teens/">Planned Parenthood Info for Teens</a>

<br/><br/>
<br/>

<h2>Other Great Resources</h2>
<br/>
<a href="http://sexetc.org/">Sex, Etc.</a><br/>
<br/>
<a href="http://bedsider.org/">Bedsider</a><br/>
<br/>
<a href="http://www.scarleteen.com/">Scarleteen</a><br/>
<br/>
<a href="http://www.itsyoursexlife.com/">MTV - It's Your Sex Life</a><br/>



    <script src="/assets/angular.js?body=1"></script>
<script src="/assets/jquery.js?body=1"></script>
<script src="/assets/jquery_ujs.js?body=1"></script>
<script src="/assets/foundation/foundation.js?body=1"></script>
<script src="/assets/foundation/foundation.abide.js?body=1"></script>
<script src="/assets/foundation/foundation.accordion.js?body=1"></script>
<script src="/assets/foundation/foundation.alert.js?body=1"></script>
<script src="/assets/foundation/foundation.clearing.js?body=1"></script>
<script src="/assets/foundation/foundation.dropdown.js?body=1"></script>
<script src="/assets/foundation/foundation.interchange.js?body=1"></script>
<script src="/assets/foundation/foundation.joyride.js?body=1"></script>
<script src="/assets/foundation/foundation.magellan.js?body=1"></script>
<script src="/assets/foundation/foundation.offcanvas.js?body=1"></script>
<script src="/assets/foundation/foundation.orbit.js?body=1"></script>
<script src="/assets/foundation/foundation.reveal.js?body=1"></script>
<script src="/assets/foundation/foundation.tab.js?body=1"></script>
<script src="/assets/foundation/foundation.tooltip.js?body=1"></script>
<script src="/assets/foundation/foundation.topbar.js?body=1"></script>
<script src="/assets/foundation.js?body=1"></script>
<script src="/assets/app/js/app.js?body=1"></script>
<script src="/assets/app/js/controllers.js?body=1"></script>
<script src="/assets/app/js/directives.js?body=1"></script>
<script src="/assets/app/js/filters.js?body=1"></script>
<script src="/assets/app/js/services.js?body=1"></script>
<script src="/assets/app/lib/angular/angular-cookies.js?body=1"></script>
<script src="/assets/app/lib/angular/angular-cookies.min.js?body=1"></script>
<script src="/assets/app/lib/angular/angular-loader.js?body=1"></script>
<script src="/assets/app/lib/angular/angular-loader.min.js?body=1"></script>
<script src="/assets/app/lib/angular/angular-resource.js?body=1"></script>
<script src="/assets/app/lib/angular/angular-resource.min.js?body=1"></script>
<script src="/assets/app/lib/angular/angular-sanitize.js?body=1"></script>
<script src="/assets/app/lib/angular/angular-sanitize.min.js?body=1"></script>
<script src="/assets/app/lib/angular/angular.js?body=1"></script>
<script src="/assets/app/lib/angular/angular.min.js?body=1"></script>
<script src="/assets/replies.js?body=1"></script>
<script src="/assets/tickets.js?body=1"></script>
<script src="/assets/application.js?body=1"></script>

  </body>
</html>
