<div class="row">

    <div class="questions">

        <h1 class="page-header"><%= @active_status.name %></h1>

        <% @tickets.each do |ticket| %>
          <div class="question">
              <div class="message" data-message-full="">
                <a href="<%= ticket_url(ticket) %>"><%= truncate(ticket[:message], length: 180, separator: ' ') %></a>
                <div class="message-read">&rsaquo;</div>
              </div>
              <div class="extra">
                <div class="date"><%= l ticket.created_at, format: :short %></div>
                <% if current_user.user_role.is_admin? %>
                <div class="actions">
                    <a class="action identify"><span class="glyphicons iphone"></span></a>
                    <%= link_to(ticket_path(ticket, ticket: { status_id: Status.find_by_name('Deleted').id }, status_id: @active_status.id), method: :put, class: 'action') do %>
                      <span class="glyphicons remove_2"></span>
                    <% end %>
                    <%= link_to(ticket_path(ticket, ticket: { status_id: Status.find_by_name('Flagged').id }, status_id: @active_status.id), method: :put, class: 'action') do %>
                      <span class="glyphicons flag"></span>
                    <% end unless @active_status.name == 'Flagged' %>
                    <%= link_to(ticket_path(ticket, ticket: { status_id: Status.find_by_name('Open').id }, status_id: @active_status.id), method: :put, class: 'action') do %>
                      <span class="glyphicons ok_2"></span>
                    <% end if @active_status.name == 'New' %>
                    <% if ticket.replies.visible.size > 0 %>
                    <div class="action comments-count">
                      <span class="count"><%= ticket.replies.visible.size %></span>
                       <span class="glyphicons comments"></span>
                    </div>
                    <% end %>
                </div>
                <% end %>
              </div>
          </div>
        <% end %>

    </div>

  </div>

</div>

<%= render 'change_status_form', { ticket: Ticket.new } %>
