<div class="row">
  <div class="large-9 columns">
    <div class="question">

      <% if @ticket.message.nil? %>
        (No content)
      <% else %>
      <div class="message">
        <% if @ticket.content_type == 'markdown' %>
          <% markdown = Redcarpet::Markdown.new Redcarpet::Render::HTML %>
          <% content = markdown.render(@ticket.content) %>
        <% elsif @ticket.content_type == 'text' %>
          <% content = @ticket.message.gsub("\n", '<br />') %>
        <% else %>
          <% content = @ticket.message %>
        <% end %>

        <%# only allow these tags and attributes %>
        <%= sanitize content, tags: %w(a b br code div em i img li ol p pre table td tfoot thead tr span strong ul), attributes: %w(src href) %>
      <% end %>

      </div>

    </div>

    <% if @ticket.replies.visible.size > 0 %>
      <dl class="accordion" data-accordion>

        <% count = 0 %>
        <% @ticket.replies.visible.chronologically.each do |reply| %>
          
          <dd<%= " class=answer" if reply.answer? %>>
            <div id="reply-<%=reply.id%>" class="content">
              <% if reply.content_type == 'markdown' %>
                <% markdown = Redcarpet::Markdown.new Redcarpet::Render::HTML %>
                <% content = markdown.render(reply.message) %>
              <% elsif reply.content_type == 'text' %>
                <% content = reply.message.gsub("\n", '<br />') %>
              <% else %>
                <% content = reply.message %>
              <% end %>

              <%= sanitize content, tags: %w(a b code div em i img li ol p table td tfoot thead tr span strong ul), attributes: %w(src href) %>
            </div>
            <div class="username">
              <%= reply.user.email %> 
              <div style="float:right;">
                <%= l reply.created_at, format: :short %>
                <% if @is_admin && @ticket.status.name != 'Closed' %>
                <div class="sub-action delete">
                  <%= link_to(reply_path(reply.id), method: :delete) do %>
                  <span class="glyphicons remove_2"></span>
                  <% end %>
                </div>
                <div class="sub-action approve">
                  <%= link_to(reply_approve_path(reply.id), method: :post) do %>
                  <span class="glyphicons ok_2"></span>
                  <% end %>
                </div>
                <% end %>
              </div>
            </div>
          </dd>

          <% count += 1 %>

        <% end %>

      </dl>
    <% end %>

    <%= render 'replies/form' %>
    
  </div>
  <div class="large-3 columns">
    <ul class="side-nav">
      <% if @ticket.answered? %><li>ANSWERED</li><% end %>
      <li><span class="halflings calendar"></span><%= l @ticket.created_at, format: :short %></li>
      <li><span class="halflings comments"></span><%= @ticket.replies.visible.size %> comments</li>
    </ul>

    <% if @is_admin %>
    <ul class="side-nav">
      <li class="muted"><span class="halflings phone"></span>View Phone #</li>
      <%= link_to(ticket_path(@ticket, ticket: { status_id: Status.find_by_name('Flagged').id }), status_id: @active_status.id, method: :put) do %>
      <li class="muted"><span class="halflings flag"></span>Flag Thread</li>
      <% end %>
      <%= link_to(ticket_path(@ticket, ticket: { status_id: Status.find_by_name('Deleted').id }), status_id: @active_status.id, method: :put) do %>
      <li class="muted"><span class="halflings remove"></span>Delete Thread</li>
      <% end %>
    </ul>
    <% end %>
  </div>

</div>
<%= render 'change_status_form', { ticket: @ticket } if @is_admin %>
