/* Brimir is a helpdesk system to handle email support requests.
 * Copyright (C) 2012-2014 Ivaldi http:gcivaldi.nl
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http:gcwww.gnu.org/licenses/>.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require glyphicons.css
 *= halflings.css
 *= require_tree .
 */


.full{
  width: 100%;
}

.reveal-modal form{
  margin: 0;
}

.attachments li{
  line-height: 1.2;
}

.attachments img{
  margin-right: 10px;
  border: 1px solid #ddd;
  padding: 2px;
  background: #fff;
  float: left;
}

.attachments strong{
  display: block;
}

.attachments .meta{
  font-size: 13px;
}

.group:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.sub-nav.filter{
	float: right;
	margin-top: 25px;
}

.filter-title{
	float: left;
}

.contain-to-grid{
	margin-bottom: 1rem;
}
 
.new_reply textarea{
	width: 100%;
	height: 300px !important;
}

.edit_user textarea{
	width: 100%;
	height: 100px !important;
}

.preview{
	height: 300px;
}

.mt{
	margin-top: 30px;
}
